
html, body {
   margin:0;
   padding:0;
   height:99%;
   font-family:Arial, sans-serif;
   
     background: url(./fotos/lang.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.center {
  margin: auto;
  width: 90%;
  padding: 10px;
  text-align: center;
}
table{
	margin-left:auto;
	margin-right:auto;
}
.groenebg{
	background-color: rgba(202, 217, 192, 0.7);
	padding: 5px 0 5px 0;
	 border-radius: 17px;

}

.borderprijs{
	border-radius: 17px;
	border:2px solid #7fa367;
	margin: 0 30% 0 30% ;
	background-color:#ededed;
}

.buttontwee{
	margin:auto;
	border-radius: 17px;
	border:2px solid #7fa367;
	background-color: rgba(202, 217, 192);
	
}
.linkya{
	background-color: rgba(202, 217, 192);
	text-decoration: none; 
	color: black;
}
input[type=submit] {
    width: 10em;  height: 2em;
}
.groote{
	width: 10em;  height: 2em;
	}